{% extends "base_dashboard.html" %}
{% load static %}

{% block titulo %}
Produtos - MercadoNex
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
 <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block conteudo %}

<h1 class="page-title">
    Gerenciamento de Produtos
</h1>

<p class="page-subtitle">
    Cadastre e gerencie todos os produtos do mercado.
</p>

{% include "produtos/cards_produtos.html" %}
{% include "produtos/tabela_produto.html" %}
{% include "produtos/modal_produto.html" %}

{% block scripts %}
{{ block.super }}

<script src="{% static 'js/produtos.js' %}"></script>
{% endblock %}

{% endblock %}