<section class="dashboard-section">

    <div class="section-header">

        <div>

            <h2>
                 <span class="nav-icon"><i class="fa-solid fa-square-poll-vertical" style="color: #F97316;"></i></span> Relatórios Inteligentes
            </h2>

            <p>
                Gere relatórios para acompanhar o desempenho do seu mercado.
            </p>

        </div>

    </div>

    <div class="relatorios-grid">

        <div class="relatorio-card">

            <div class="relatorio-icon">
                📈
            </div>

            <h3>
                Vendas do Mês
            </h3>

            <p>
                Visualize o faturamento mensal, quantidade de vendas e ticket médio.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

        <div class="relatorio-card">

            <div class="relatorio-icon">
               <span class="nav-icon"><i class="fa-solid fa-boxes-stacked" style="color: #bc9948;"></i></span>

            </div>

            <h3>
                Produtos Mais Vendidos
            </h3>

            <p>
                Veja quais produtos tiveram maior saída e desempenho no período.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

        <div class="relatorio-card">

            <div class="relatorio-icon">
               <span class="nav-icon"><i class="fa-solid fa-users" style="color: #2DD4BF;"></i></span>

            </div>

            <h3>
                Clientes Devedores
            </h3>

            <p>
                Consulte clientes com saldo em aberto e compras realizadas no fiado.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

        <div class="relatorio-card">

            <div class="relatorio-icon">
                💰
            </div>

            <h3>
                Lucro dos Produtos
            </h3>

            <p>
                Compare preço de custo e venda para analisar a margem de lucro.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

        <div class="relatorio-card">

            <div class="relatorio-icon">
                📅
            </div>

            <h3>
                Produtos Próximos do Vencimento
            </h3>

            <p>
                Liste rapidamente todos os produtos que vencerão nos próximos dias.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

        <div class="relatorio-card">

            <div class="relatorio-icon">
                📊
            </div>

            <h3>
                Estoque Geral
            </h3>

            <p>
                Consulte o estoque completo, produtos em falta e itens com baixo estoque.
            </p>

            <button class="btn-dashboard">

                Visualizar Relatório

            </button>

        </div>

    </div>

</section>