{% extends "base_dashboard.html" %}
{% load static %}

{% block titulo %}
Dashboard - MercadoNex
{% endblock %}



{% block conteudo %}

<div class="dashboard-grid">
    {% include "componentes/vencimento_produtos.html" %}
    {% include "componentes/relatorios.html" %}

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{% static 'js/formulario.js' %}"></script>
<script src="{% static 'js/cliente.js' %}"></script>
<script src="{% static 'js/vencimento.js' %}"></script>
{% endblock %}