{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercadoNex | Cadastro</title>

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>

<body>

    <div class="intro" id="intro">

        <div class="intro-content">

            <img
                src="{% static 'img/logo_entrada.png' %}"
                alt="MercadoNex"
                class="intro-logo"
            >

        </div>

    </div>




    <div class="background">

        <!-- Luzes -->

        <div class="glow glow-1"></div>

        <div class="glow glow-2"></div>

        <div class="glow glow-3"></div>


        <!-- Partículas -->

        <div
            class="particles"
            id="particles">
        </div>


        <!-- Logo gigante no fundo -->

        <div class="background-logo">

            <img
                src="{% static 'img/logo_entrada.png' %}"
                alt=""
            >

        </div>

    </div>


    <main class="login-wrapper">

        <section class="login-card">



            <div class="logo-container">

                <img
                    src="{% static 'img/Logo.jpeg' %}"
                    alt="MercadoNex"
                >

            </div>


            <div class="login-header">

                <h1>
                    Criar conta
                </h1>

                <p>
                    Cadastre-se no MercadoNex
                </p>

            </div>

            <form class="cadastro-form" method="POST">
              {% csrf_token %}


                <!-- GRADE DOS CAMPOS -->

                <div class="cadastro-grid">


                    <!-- NOME 

                    <div class="input-box">

                        <label for="nome">
                            Nome completo
                        </label>


                    </div> -->


                    <!-- USUÁRIO -->

                    <div class="input-box">

                        <label for="usuario">
                            Usuário
                        </label>

                        <input type="text" name="username"  placeholder="Nome de usuário" required>

                    </div>


                    <!-- E-MAIL -->

                    <div class="input-box">

                        <label for="email">
                            E-mail
                        </label>
                        <input type="email" name="email" placeholder="Seu e-mail" required>

                    </div>


                    <!-- TELEFONE 

                    <div class="input-box">

                        <label for="telefone">
                            Telefone
                        </label>

                        <input
                            type="tel"
                            id="telefone"
                            name="telefone"
                            placeholder="(00) 00000-0000"
                            autocomplete="tel"
                            maxlength="15"
                            required
                        >

                    </div>-->


                    <!-- SENHA -->

                    <div class="input-box">

                        <label for="senha">
                            Senha
                        </label>
                        <input type="password" name="password" placeholder="senha"required>

                    </div>


                    <!-- CONFIRMAR SENHA -->

                    <div class="input-box">

                        <label for="confirmarSenha">
                            Confirmar senha
                        </label>
                        <input type="password" name="confirmar" placeholder="Confirmar senha" required>

                    </div>

                </div>


                <label class="remember cadastro-termos">

                    <input
                        type="checkbox"
                        id="termos"
                        name="termos"
                        required
                    >

                    <span>
                        Aceito os termos de uso
                    </span>

                </label>

                <button
                    type="submit"
                    class="login-button"
                >
                    Criar conta
                </button>

            </form>


            <div class="login-footer">

                <span>

                    Já possui uma conta?

                    <a href="{% url 'login'%}">
                        Entrar
                    </a>

                </span>


                <small>
                    Gestão inteligente, resultados reais
                </small>

            </div>

        </section>

    </main>



    <script src="{% static 'js/cadastro.js' %}"></script>

</body>

</html>
