{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercadoNex | Login</title>

    
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon/favicon.svg' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
  <script src="https://kit.fontawesome.com/4b3fbb326a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="intro" id="intro">

        <div class="intro-content">

            <img
                src="{% static 'img/logo_entrada.png' %}"
                alt="MercadoNex"
                class="intro-logo"
            >

        </div>

    </div>


    <div class="background">

        <!-- Luzes -->
        <div class="glow glow-1"></div>
        <div class="glow glow-2"></div>
        <div class="glow glow-3"></div>

        <!-- Partículas -->
        <div
            class="particles"
            id="particles">
        </div>

        <!-- Logo discreto no fundo -->
        <div class="background-logo">

            <img
                src="{% static 'img/logo_entrada.png' %}"
                alt=""
            >

        </div>

    </div>


    <main class="login-wrapper">

        <section class="login-card">

            <!-- LOGO -->

            <div class="logo-container">

                <img
                    src="{% static 'img/Logo.jpeg' %}"
                    alt="MercadoNex"
                >

            </div>


            <!-- CABEÇALHO -->

            <div class="login-header">

                <h1>
                    Bem-vindo!
                </h1>

                <p>
                    Entre na sua conta MercadoNex
                </p>

            </div>


            <!-- FORMULÁRIO -->

            <form class="login-form" method="POST">
              {% csrf_token %}

                <!-- USUÁRIO -->

                <div class="input-box">

                    <label for="usuario">
                        Usuário
                    </label>

                    <input type="text" name="username" placeholder="Usuário" required>

                </div>


                <!-- SENHA -->

                <div class="input-box">

                    <label for="senha">Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha" required>

                </div>


                <!-- OPÇÕES -->

                <div class="options">

                    <label class="remember">

                        <input
                            type="checkbox"
                        >

                        <span>
                            Lembrar-me
                        </span>

                    </label>


                    <a href="#">
                        Esqueci a senha
                    </a>

                </div>


                <!-- BOTÃO -->

                <button
                    type="submit"
                    class="login-button"
                >
                    Entrar
                </button>

            </form>


                <div class="register-section">

                    <span>
                        Ainda não possui uma conta?
                    </span>

                    <a
                        href="{% url 'cadastro'%}"
                        class="register-button"
                    >
                        Criar uma conta
                    </a>

                </div>


            <div class="login-footer">

                <span>
                    
                  © 2026 MercadoNex
                </span>

                <small>
                    Gestão inteligente, resultados reais
                </small>

            </div>

        </section>

    </main>


    <!-- JAVASCRIPT -->

    <script src="{% static 'js/login.js' %}"></script>

</body>

</html>



  
